/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Dec 6, 2021, 9:40:11 AM
    Author     : Julius
*/
body{
    align-content: center;
    background-color: red;
}
