<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>SaveVaccinated</servlet-name>
        <servlet-class>org.health.administration.SaveVaccinated</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>allVaccinated</servlet-name>
        <servlet-class>org.health.administration.allVaccinated</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>saveV</servlet-name>
        <servlet-class>org.health.administration.saveV</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SaveVaccinated</servlet-name>
        <url-pattern>/SaveVaccinated</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>allVaccinated</servlet-name>
        <url-pattern>/allVaccinated</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>saveV</servlet-name>
        <url-pattern>/saveV</url-pattern>
        <servlet-name>HealthCentreRegistration</servlet-name>
        <servlet-class>org.health.health.HealthCentreRegistration</servlet-class>
    </servlet>
    <servlet>

        <servlet-name>vaccineServlet</servlet-name>
        <servlet-class>org.health.vaccine.vaccineServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VaccineDistribution</servlet-name>
        <servlet-class>org.health.vaccine.VaccineDistribution</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>HealthReport</servlet-name>
        <servlet-class>org.health.health.HealthReport</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HealthCentreRegistration</servlet-name>
        <url-pattern>/HealthCentreRegistration</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>HealthReport</servlet-name>
        <url-pattern>/HealthReport</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>vaccineServlet</servlet-name>
        <url-pattern>/vaccineServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VaccineDistribution</servlet-name>
        <url-pattern>/VaccineDistribution</url-pattern>

    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
